html,
body {
  margin: 0;
  padding: 0;
}

:root {
  --font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, "游ゴシック体", "Yu Gothic", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, 'Open Sans', sans-serif;
}

#sketch-holder {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  display: block;
  justify-content: center;
  align-items: center;
}

#stream_video {
  width: 100%;
  height: 100%;
  display: none;
}

#broadcasting_video {
  width: 100%;
  height: 100%;
  display: flex;
}

.layer {
  position: relative;
  justify-content: center;
  align-items: center;
}

#button_toggle {
  background-color: transparent;
  color: black;
}

textarea {}

.footer {
  position: relative;
  bottom: 0;
  text-align: center;
  /* Set the fixed height of the footer here */

}




:root {
  --font-size: 1.7em;
  --font-size-small: 1.69em;
  --line-height: 100%;
  --width: 2.8em;
  --height: 2.8em;
  --margin: 0.1em;
  --margin-frame: -10px;
  --padding: 0px;
}

.reaction-buttons-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 12px;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  aspect-ratio: 3 / 2;
}

button.comment {
  -ms-user-select: none;
  /* IE 10+ */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  text-decoration: none;
  border-radius: 50%;
  color: #878787;

  width: 100%;
  aspect-ratio: 1 / 1;
  padding: 0;
  margin: 0;
  font-size: clamp(2.5rem, 8vw, 5rem);
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: center;

  border: solid 2px #EFEFEF;
  box-shadow: 4px 4px 9px 0px rgba(255, 255, 255, 0.45) inset, -4px -4px 9px 0px rgba(0, 0, 0, 0.06) inset;
  transition: .3s;
}

button.green {
  background-image: linear-gradient(#f7f7f7, #b7ffcf);
}

button.red {
  background-image: linear-gradient(#f7f7f7, #ffc5c5);
}

button.comment:active {
  transform: scale(0.95);
  box-shadow: 3px 3px 6px 0px rgba(157, 157, 157, 0.07) inset, -2px -2px 3px 0px rgba(255, 255, 255, 0.52) inset;
  transition: all 150ms 0s ease;
}
button:active.comment {
  box-shadow: 3px 3px 6px 0px rgba(157, 157, 157, 0.07) inset, -2px -2px 3px 0px rgba(255, 255, 255, 0.52) inset;
  transition: all 100ms 0s ease;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav li {
  display: inline-block;
  margin-right: -4px;
  position: relative;
}

.nav li:before {
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 1px;
  z-index: -1;
}

.nav a {
  background-color: #f7f7f7;
  background-image: linear-gradient(#f7f7f7, #b7ffcf);
  border-radius: 50%;
  box-shadow: 0 3px 8px #aaa, inset 0 2px 3px #fff;
  color: #878787;
  display: block;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-decoration: none;
  margin: var(--margin);
  position: relative;
  width: var(--width);
  height: var(--height);
}

.nav a .description {
  font-size: 5px;
}

.nav a.sound {
  background-color: #f7f7f7;
  background-image: linear-gradient(#f7f7f7, #ffc5c5);
  border-radius: 50%;
  box-shadow: 0 3px 8px #aaa, inset 0 2px 3px #fff;
  color: #878787;
  display: block;
  font-size: var(--font-size);
  line-height: var(--line-height);
  text-decoration: none;
  margin: var(--margin);
  position: relative;
  width: var(--width);
  height: var(--height);
}

.nav a:before {
  background: #fff;
  border-top: 2px solid #ddd;
  border-radius: 50%;
  box-shadow: inset 0 8px 48px #ddd;
  content: '';
  display: block;
  position: absolute;
  left: var(--margin-frame);
  right: var(--margin-frame);
  top: var(--margin-frame);
  bottom: var(--margin-frame);
  z-index: -1;
}

.nav a:visited {
  color: #a7a7a7;
}

.nav a:hover {
  color: hsl(30, 70%, 50%);
}

.nav a:active {
  background: #b7ffcf;
}

.nav a.sound:active {
  background: #ffc5c5;
}


.audience-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 12px 0px;
}

.audience-header p {
  margin: 0;
  flex: 1;
}

.audience-header .controls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.audience-header .controls>* {
  margin: 0;
}

.comment-status-text {
  background-color: #fff3cd;
  color: #856404;
  padding: 6px 12px;
  border-radius: 4px;
  border: 1px solid #ffeaa7;
  font-size: 0.875rem;
  font-weight: 500;
}


.helpbtn{
  width: 28px;
  height: 28px;
  line-height:100%;
  text-align: center;
  --bs-btn-padding-y: 0.10rem;
  --bs-btn-padding-x: 0.20rem;
}

 .btn-outline-primary{
  --bs-btn-hover-color: #fff;
  --bs-btn-active-color: #fff;
 }


/* 送信ボタンのスタイル調整 */
#button_send:focus,
#button_send:active,
#button_send:active:focus {
  background-color: transparent !important;
  border-color: #0d6efd !important;
  color: #0d6efd !important;
  box-shadow: none !important;
  outline: none !important;
}

#button_send:hover {
  background-color: rgba(13, 110, 253, 0.1);
  border-color: #0d6efd;
  color: #0d6efd;
}


/* コメント履歴のスタイル */
#textarea_comment_history {
  font-family: 'Courier New', monospace;
  font-size: 0.9rem;
  line-height: 1.6;
}
